/DragAndDropBehavior/.vs/DragAndDropBehavior/v15/*.suo
/DragAndDropBehavior/DragAndDropBehavior/obj
/DragAndDropBehavior/DragAndDropBehavior/bin
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/obj
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/bin
/CucumberSamples/.idea
/CucumberSamples/target
/CucumberSamples/*.iml
/ScalaTests/.idea
/ScalaTests/project
/ScalaTests/target
/VelocitySamples/.idea
/VelocitySamples/*.iml
/GiraffeTest/GiraffeTest/bin
/GiraffeTest/GiraffeTest/obj
/GiraffeTest/.vs/GiraffeTest/v15/*.suo
