/DragAndDropBehavior/.vs/DragAndDropBehavior/v15/*.suo
/DragAndDropBehavior/DragAndDropBehavior/obj
/DragAndDropBehavior/DragAndDropBehavior/bin
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/obj
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/bin
/CucumberSamples/.idea
/CucumberSamples/target
/CucumberSamples/*.iml
/ScalaTests/.idea
/ScalaTests/project
/ScalaTests/target
/VelocitySamples/.idea
/VelocitySamples/*.iml
/GiraffeTest/GiraffeTest/bin
/GiraffeTest/GiraffeTest/obj
/GiraffeTest/.vs/GiraffeTest/v15/*.suo
/CxfServer/.idea
/CxfServer/target
/CxfServer/*.iml
/CxfClient/.idea
/CxfClient/*.iml
/CxfClient/target
/GoRESTWithMux/.idea
/PyWebPy/.idea
/PyWebPy/venv
/PyWebPy/__pycache__
/PyBottle/.idea
/PyBottle/venv
/KestrelTest/KestrelTest/bin
/KestrelTest/KestrelTest/obj
.vs
/cxfws/.idea
/cxfws/target
/cxfws/*.iml
/SuaveTest/SuaveTest/bin
/SuaveTest/SuaveTest/obj
/KotlinUnitTest/.idea
/KotlinUnitTest/out
/KotlinUnitTest/*.iml
/RefitExample/RefitClient/RefitClient/bin
/RefitExample/RefitClient/RefitClient/obj
/RefitExample/packages
/RefitExample/RefitClient/packages
/RefitExample/RefitExample/RefitExample.ServiceInterface/bin
/RefitExample/RefitExample/RefitExample.ServiceInterface/obj
/RefitExample/RefitExample/RefitExample.ServiceModel/bin
/RefitExample/RefitExample/RefitExample.ServiceModel/obj
/RefitExample/RefitExample/RefitExample.Tests/bin
/RefitExample/RefitExample/RefitExample.Tests/obj
/RefitExample/RefitExample/RefitExample/bin
/RefitExample/RefitExample/RefitExample/obj
/RabbitMQSample/RabbitMQReceive/packages
/RabbitMQSample/RabbitMQReceive/RabbitMQReceive/obj
/RabbitMQSample/RabbitMQReceive/RabbitMQReceive/bin
/RabbitMQSample/RabbitMQSend/packages
/RabbitMQSample/RabbitMQSend/RabbitMQSend/obj
/RabbitMQSample/RabbitMQSend/RabbitMQSend/bin
/JMockSample/.idea
/JMockSample/target
/JMockSample/*.iml
/MinimalRunner/.idea
/MinimalRunner/*.iml
/MinimalRunner/target
/RemotingSample/RemoteClient/bin
/RemotingSample/RemoteClient/obj
/RemotingSample/RemoteServer/bin
/RemotingSample/RemoteServer/obj
/FoldingExp/.idea
/FoldingExp/cmake-build-debug
/ThreadsPromisesFutures/cmake-build-debug
/ThreadsPromisesFutures/.idea
/LottieTest/LottieTest/bin
/LottieTest/LottieTest/obj
/AppCentreExample/AppCentreExample/AppCentreExample.Android/bin
/AppCentreExample/AppCentreExample/AppCentreExample.Android/obj
/AppCentreExample/AppCentreExample/AppCentreExample.iOS/bin
/AppCentreExample/AppCentreExample/AppCentreExample.iOS/obj
/AppCentreExample/AppCentreExample/AppCentreExample.UWP/bin
/AppCentreExample/AppCentreExample/AppCentreExample.UWP/obj
/AppCentreExample/AppCentreExample/AppCentreExample.Android/*.user
*.user
bin
obj
/ProtocolBuffers/CSharp/Server/packages
/GraphQLTests/packages/System.Reactive.Linq.3.1.1
/GraphQLTests/packages/GraphQL.0.14.6.657
/GraphQLTests/packages/GraphQL.2.0.0-preview-997
/GraphQLTests/packages/GraphQL.Annotations.1.0.5
/GraphQLTests/packages/GraphQL-Parser.2.0.0
/GraphQLTests/packages/GraphQL-Parser.3.0.0
/GraphQLTests/packages/Newtonsoft.Json.9.0.1
/GraphQLTests/packages/Newtonsoft.Json.10.0.3
/GraphQLTests/packages/System.Reactive.Core.3.1.1
/GraphQLTests/packages/System.Reactive.Interfaces.3.1.1
/MyWebApp/.idea
/MyWebApp/temp
/MyWebApp/MyWebApp.iml
/MyWebApp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/MyWebApp/target
/MyWebApp/web/WEB-INF/classes
/Openfin/InterApplicationBus/ControllerApp/packages
/Openfin/InterApplicationBus/MainApp/packages
/Eureka/eurekatest/.mvn
/Eureka/eurekatest/.idea
/GraphQLJava/.mvn
/ExecutorServiceSample/.idea
/ExecutorServiceSample/out/production/ExecutorServiceSample/com/putridparrot/*.class
/AnimatedButton/.eslintcache
/React/rxjs-sample/.eslintcache
cmake-build-debug
.idea
.gradle
/HelloWorld/HelloWorldKotlin/build
/HelloWorld/HelloWorldJava/out
/HelloWorld/HelloWorldPython/venv
/HelloWorld/HelloWorldRust/target
/HelloWorld/HelloWorldScala/target
/HelloWorld/HelloWorldScala/project
/HelloWorld/HelloWorldKotlin/gradle
/HelloWorld/HelloWorldScala/.bsp
playground.xcworkspace
/SwiftBasics/Generics.playground/playground.xcworkspace

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
/nanoframework/M5StackCore2/M5Core2Examples/packages
/EchoService/Rust/echo_service/target
/EchoService/Node/EchoService/node_modules
/wasm_leptos/wasm_app/target
/wasm_yew/wasm_app_tailwind/node_modules
/rust_grpc/rust_grpc/target
/wasm_yew/rocket_sample/target
/rocket_sample/target
/rust_logging/target
