/DragAndDropBehavior/.vs/DragAndDropBehavior/v15/*.suo
/DragAndDropBehavior/DragAndDropBehavior/obj
/DragAndDropBehavior/DragAndDropBehavior/bin
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/obj
/DragAndDropBehaviorWithPaste/DragAndDropBehavior/bin
/CucumberSamples/.idea
/CucumberSamples/target
/CucumberSamples/*.iml
/ScalaTests/.idea
/ScalaTests/project
/ScalaTests/target
/VelocitySamples/.idea
/VelocitySamples/*.iml
/GiraffeTest/GiraffeTest/bin
/GiraffeTest/GiraffeTest/obj
/GiraffeTest/.vs/GiraffeTest/v15/*.suo
/CxfServer/.idea
/CxfServer/target
/CxfServer/*.iml
/CxfClient/.idea
/CxfClient/*.iml
/CxfClient/target
/GoRESTWithMux/.idea
/PyWebPy/.idea
/PyWebPy/venv
/PyWebPy/__pycache__
/PyBottle/.idea
/PyBottle/venv
/KestrelTest/KestrelTest/bin
/KestrelTest/KestrelTest/obj
.vs
/cxfws/.idea
/cxfws/target
/cxfws/*.iml
/SuaveTest/SuaveTest/bin
/SuaveTest/SuaveTest/obj
/KotlinUnitTest/.idea
/KotlinUnitTest/out
/KotlinUnitTest/*.iml
/RefitExample/RefitClient/RefitClient/bin
/RefitExample/RefitClient/RefitClient/obj
/RefitExample/packages
/RefitExample/RefitClient/packages
/RefitExample/RefitExample/RefitExample.ServiceInterface/bin
/RefitExample/RefitExample/RefitExample.ServiceInterface/obj
/RefitExample/RefitExample/RefitExample.ServiceModel/bin
/RefitExample/RefitExample/RefitExample.ServiceModel/obj
/RefitExample/RefitExample/RefitExample.Tests/bin
/RefitExample/RefitExample/RefitExample.Tests/obj
/RefitExample/RefitExample/RefitExample/bin
/RefitExample/RefitExample/RefitExample/obj
